{% extends "PortafolioApp/base.html" %}

{% load static %}

{% block content %}
<br>
<footer class="footer text-faded text-center py-5">
	<img src="{% static 'PortafolioWebApp/img/facebook.png' %}">
        	<a href="https://www.facebook.com/jhezuannP">Jhezuann Guanipa</a>
		</p>
      </div>
	</footer>
<br>
<footer class="footer text-faded text-center py-5">
	<img src="{% static 'PortafolioWebApp/img/telegram.png' %}">
        	<a href="https://t.me/JheGuanipa">@JheGuanipa</a>
		</p>
      </div>
	</footer>
<br>
<footer class="footer text-faded text-center py-5">
	<img src="{% static 'PortafolioWebApp/img/gmail.png' %}">
        	<a href="https://mail.google.com/mail/u/0/#inbox">pjhezuann@gmail.com</a>
		</p>
      </div>
	</footer>
<br>
<footer class="footer text-faded text-center py-5">
	<img src="{% static 'PortafolioWebApp/img/github.png' %}">
        	<a href="https://github.com/Jhezuann">Jhezuann</a>
		</p>
      </div>
	</footer>
<br>
{% endblock %}