{% extends "PortafolioApp/base.html" %}

{% load static %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'PortafolioWebApp/img/perfil.jpg' %}" alt="" style="width: 200px; height: 200px;">
        <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Mi perfil</span>
              </h2>
              <p class="mb-0">Nombre: Jhezuann Guanipa<br>
              Pais de nacimiento: Venezuela<br>
          	Fecha de nacimiento: 16/08/2001<br>
          Edad:20.<br><br><br>
          Backend Developer<br>
          Python - Django - Django rest<br>
          Sin experiencia laboral<br>
          1 Año de experiencia personal
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<h1>Redes</h1><br>
        	<a href="https://www.facebook.com/jhezuannP">Facebook</a><br>
        	<a href="https://github.com/Jhezuann">Github</a><br>
        	<a href="https://www.linkedin.com/in/jhezuann-guanipa-a4a60a237/">LinkedIn</a>
		</p>
      </div>
	</footer><br><br><br>
{% endblock %}